/* General Navbar Styling */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #fff, #f5f0eb, #e4cab7);
  padding: 10px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, box-shadow 0.3s;
}

.menu {
  width: 40px;
  height: 40px;
}

.navbar-logo {
  display: inline-block;
  width: 200px;
  height: 60px;
  background-image: url('../Assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease-in-out;
}

.navbar-brand .navbar-logo {
  height: 60px;
  transition: transform 0.3s;
  width: 200px;
}

.navbar-brand:hover .navbar-logo {
  transform: rotate(360deg) scale(1.1);
}

/* Links Container */
.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 999;
}

/* Individual Links */
.navbar-item {
  margin: 0 15px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-size: large;
}

.navbar-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #7300ff;
  text-decoration: none;
}

/* Search Bar */
.navbar-search-content {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px 10px;
  border: 2px solid #fff;
  border-radius: 20px;
  margin-right: 5px;
  outline: none;
  transition: border 0.3s;
}

.search-input:focus {
  border: 2px solid #ffd700;
}

.search-button {
  padding: 5px 15px;
  border: none;
  background-color: #ffd700;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.search-button:hover {
  background-color: #ff9a9e;
  transform: scale(1.1);
}

/* User Menu */
.navbar-user-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: border 0.3s, transform 0.3s;
}

.navbar-user-avatar:hover {
  border: 2px solid #ffd700;
  transform: scale(1.1);
}

/* Login and Sign Up Buttons */
.navbar-login, .navbar-signup {
  padding: 5px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
  margin: 0 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.navbar-login {
  height: 30px;
  background: rgba(0, 0, 0, 0.2);
  color: black; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); 
}

.navbar-login:hover {
  background: rgba(3, 0, 5, 0.2);
  transform: scale(1.1);
  color: black;
}

.navbar-signup {
  background-color: rgb(122, 33, 205);
  color: white;
  height: 30px;
}

.navbar-signup:hover {
  background-color: rgb(122, 33, 205);
  transform: scale(1.1);
  color: white;
}
.join-landing-page{
  display: flex;
  align-items: center;
  gap: 10px; /* Add some gap between buttons */
  margin-right: 70px; /* Add margin to the right */
}
/* Logout and Profile Buttons */
.profile-button {
  display: flex;
  align-items: center;
  gap: 10px; /* Add some gap between buttons */
  margin-right: 50px; /* Add margin to the right */
}

.navbar-logout {
  background-color: #dc3545;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-right: 2px;
}

.navbar-logout:hover {
  background-color: #c82333;
  transform: scale(1.1);
}

/* Toggle Button for Mobile View */
.navbar-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  padding: 10px;
  z-index: 1001;
}

/* Responsive Navbar Menu */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 60px;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 999;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-item {
    margin: 10px 0;
    color: #fff;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-search-content, .navbar-user-menu, .navbar-login, .navbar-signup, .navbar-logout {
    display: none;
  }

  .navbar-brand .navbar-logo {
    height: 40px;
    transition: transform 0.3s;
  }

  .navbar-brand:hover .navbar-logo {
    transform: rotate(360deg) scale(1.1);
  }
}

@media (max-width: 480px) {
  .navbar-logo {
    width: 120px;
    height: 40px;
  }
}
