.footer {
  background: linear-gradient(135deg, #fff, #f5f0eb, #e4cab7);
  color: black; /* Text color changed to black */
  padding: 50px 20px;
  text-align: center;
  position: relative;
  font-size: large;
  font-weight: 500;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo-section {
  flex: 1;
  text-align: left;
}

.footer-logo {
  width: 200px; /* Adjusted size for better visibility */
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 1; /* Ensure full opacity */
  
}

.footer-logo-section .footer-logo {
  height: 100px;
  transition: transform 0.3s;
}


.footer-tagline {
  margin-top: 10px;
  font-size: 16px;
  font-style: italic;
  color: black; /* Text color changed to black */
}

.footer-links,
.footer-newsletter,
.footer-social {
  flex: 1;
  margin-top: 20px;
}

.footer-links h4,
.footer-newsletter h4,
.footer-social h4 {
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: black; /* Text color changed to black */
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: black; /* Text color changed to black */
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #3498db;
}

.footer-newsletter p {
  font-size: 14px;
  margin-bottom: 20px;
  color: black; /* Text color changed to black */
}

.footer-newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-newsletter-form input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 250px;
}

.footer-newsletter-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: rgb(128, 38, 212);
  color: #ecf0f1;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer-newsletter-form button:hover {
  background-color: rgb(108, 29, 181);
}

.footer-social .social-icons {
  display: flex;
  justify-content: center;
}

.footer-social .social-icon {
  margin: 0 10px;
  transition: transform 0.3s;
}

.footer-social .social-icon img.icon-image {
  width: 32px;
  height: 32px;
}

.footer-social .social-icon:hover img.icon-image {
  transform: scale(1.1);
}

.footer-bottom {
  border-top: 1px solid #34495e;
  padding-top: 20px;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 14px;
  color: black; /* Text color changed to black */
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo-section {
    text-align: center;
    margin-bottom: 20px;
  }
}